
@{
    ViewBag.Title = "Передвижная дорожная лаборатория";
}

<!-- CONTAINER -->
<div class="container">
    <!-- OUR VISION -->
    <section>
					
        <!-- CONTAINER -->
        <div class="container">
            <div class="row" data-animated="fadeIn">
                <div class="col-lg-6 col-md-6 col-sm-7 padbot20">
                    <div class="flexslider vision_slider">
                        <ul class="flexslider vision_slider slides">
                            <li  class="slide1">
                                <img src="~/images/Lab/Lab1.png" />
                            </li>
                            <li>
                                <img ali src="~/images/Lab/Lab2.png" />
                            </li>
                            <li>
                                 <img src="~/images/Lab/Lab3.png"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5">
                    <h2>Комплекс измерительный передвижной аэродромно-дорожной лаборатории КП-514 RDT</h2>
                    <p>
                        Передвижная дорожная лаборатория на основе комплекса измерительного КП-514 RDT
                        представляет собой совокупность высокотехнологичных измерительных систем, установленных на шасси спецавтомобиля и предназначен для получения полной, объективной и достоверной информации о транспортно-эксплуатационном состоянии автомобильных дорог.
                        <br/>
                        Комплекс обеспечивает проведение оперативных испытаний и диагностики объектов непосредственно по месту их нахождения, с максимальной производительностью, обеспечением выгрузки и хранения данных в геоинформационной системе автомобильных дорог «IndorRoad».
                        <br/>
                        Благодаря применению современных бесконтактных измерительных устройств на основе микропроцессорных, лазерных, ультразвуковых, космических, беспилотных технологий и специализированного программного обеспечения обеспечены высокая производительность и достоверность измерений.
                        <br/>
                    </p>
                </div>
            </div>
        </div><!-- //CONTAINER -->
    </section><!-- //OUR VISION -->
</div><!-- //CONTAINER -->