@{
    ViewBag.Title = "Программный комплекс Титул-2005";
}

<!-- SERVICES -->
<section class="services_block">

    <!-- CONTAINER -->
    <div class="container">

        <div class="center">
            <h2 class="margbot10">Программный комплекс Титул-2005</h2>
        </div>
        <p>Программный комплекс представляет собой набор программ для решения инженерно-технических и управленческих задач. Состоит из 12-ти основных программ и более 20-ти различных программных приложений.</p>
        <p>С помощью программ ПК «Титул-2005» решаются следующие задачи:</p>
        <ul class="list1">
            <li>Диагностика автомобильных дорог и мостовых сооружений – включает возможность формирования отчетных документов, построение линейных графиков ТЭС АД, автоматизированную оценку транспортно-эксплуатационного состояния, планирование ремонтных работ и др.</li>
            <li>Паспортизация и инвентаризация автомобильных дорог и мостов – автоматизированное формирование документов в соответствии с действующими нормативами и регламентами. Обеспечена возможность формирования паспортов по дорогам общего пользования, городским дорогам, мостовым сооружениям, по индивидуальным формам паспортов Ленинградской, Свердловской и Нижегородской областей.</li>
            <li>Видеопаспортизация автомобильных дорог – сбор и хранение достоверной и оперативной видеоинформации о состоянии сети дорог, с возможностью дальнейшего определения по кадру геометрических параметров автодорог, визуальной оценки состояния проезжей части и обочин, определения наличия и видов дефектов, контроля качества выполненных работ по содержанию, строительству и ремонту, оценки дорожных условий при ДТП, согласования мест размещения объектов дорожного сервиса и многое другое.</li>
            <li>Разработка проектов организации дорожного движения. В состав ПК «Титул-2005» входят программы, позволяющие в полуавтоматическом режиме вести разработку проектов ТС ОДД, формировать все необходимые отчетные документы, определять стоимости работ по нанесению линий разметки, установке знаков и т.п., разрабатывать проекты знаков индивидуального проектирования и многое другое.</li>
            <li>Учет дорожно-транспортных происшествий. С помощью специализированных программ прежде всего ведется архив ДТП, данные могут храниться в течении любого временного промежутка (1 год, 3-и года, 5-ть лет, 10-ть лет и т.п.). Обеспечена возможность автоматизированного переноса данных из базы органов ГИБДД. По данным 3-х и 5-ти летнего периода определяются участки концентрации ДТП, их виды и степень опасности. В полуавтоматическом режиме на данных участках назначаются ремонтные мероприятия по обеспечению необходимого уровня безопасности на дорогах.</li>
            <li>Управление состоянием сети подведомственных автомобильных дорог и искусственных сооружений:</li>
            <li style="margin-left: 30px;">количественный и качественный учет объектов имущественного комплекса дорожной отрасли;</li>
            <li style="margin-left: 30px;">просмотр табличных данных по различным характеристикам выбранных объектов;</li>
            <li style="margin-left: 30px;">оценка технического уровня эксплуатационного состояния сети автомобильных дорог и искусственных сооружений;</li>
            <li style="margin-left: 30px;">формирование программ проведения ремонтных мероприятий с установлением приоритетности их выполнения и укрупненной оценкой стоимости и эффективности проведения работ;</li>
            <li style="margin-left: 30px;">планирование, контроль и анализ работ по содержанию автомобильных дорог и мостовых сооружений;</li>
            <li style="margin-left: 30px;">оценка состояния аварийности на подведомственной сети дорог, выявление участков концентрации ДТП и планирование мероприятий по их ликвидации;</li>
            <li style="margin-left: 30px;">формирование отчетных документов общегосударственного образца: 1-ДГ, 2-ДГ, информационные карты, кадастровый учет землепользователей, ведомости наличия и состояния элементов дорог и т.п.;</li>
            <li style="margin-left: 30px;">представление любых результатов поисковых, информационных и расчетных задач в виде картограмм на электронной карте;</li>
            <li style="margin-left: 30px;">осуществление множества других функций, возложенных на владельца дорожной сети.</li>
        </ul>

    </div><!-- //CONTAINER -->
</section><!-- //SERVICES -->
