@{
    ViewBag.Title = "ПИК Дорога-ПРО";
}

<!-- SERVICES -->
<section class="services_block">

    <!-- CONTAINER -->
    <div class="container">

        <div class="center">
            <h2 class="margbot10">ПИК Дорога-ПРО</h2>
        </div>
        <p>
            Программно-измерительный комплекс «Дорога-ПРО» предназначен для сбора информации о транспортно-эксплуатационном состоянии автомобильных дорог при проведении работ по диагностике, паспортизации и инвентаризации, для контроля качества выполненных ремонтных работ и уровня содержания автомобильных дорог. Все измерительные системы интегрированы в один комплекс, позволяющий проводить измерение нескольких параметров за один проезд по участку.
            <br/>
            Получаемая в процессе измерений информация сохраняется на жестком диске бортового компьютера. В комплект ПИК «Дорога-ПРО» включен модуль обработки полученных результатов. Предусмотрено несколько основных режимов обработки полученных данных:
            <br/>
            Автоматическая обработка результатов доступна сразу после завершения измерений и позволяет создать экспресс ведомость оценки транспортно-эксплуатационного состояния участка дороги.
            <br/>
            Экспертная обработка может осуществляться как в полевых, так и в камеральных условиях. Позволяет детально настроить параметры обработки под поставленные задачи.
            <br/>
            Полученная информация анализируется на соответствие нормативам с созданием статистического отчёта. Вывод отчета возможен как в табличном, и так и в графическом виде с печатью и сохранением в форматы файлов Microsoft Word, Excel, текстовый формат и т.д.
        </p>
        <p>Программно-измерительный комплекс «Дорога-ПРО» работает в составе бортового вычислительного комплекса на базе передвижных дорожных диагностических лабораторий типов КП-514 МП, и КП-514 СМП «Трасса» производства ООО «Спецдортехника».</p>
        <p>В программный комплекс входят следующие модули:</p>
        <ul class="list1">
            <li>Определение геометрических параметров автомобильных дорог;</li>
            <li>Определение продольной ровности дорожных покрытий методом толчкомера;</li>
            <li>Определение продольной ровности дорожных покрытий методом IRI;</li>
            <li>Видеосъемка автомобильных дорог;</li>
            <li>Измерение поперечной ровности (колейности) автомобильных дорог;</li>
            <li>Определение коэффициента сцепления дорожных покрытий;</li>
            <li>Измерение прочности нежестких дорожных одежд;</li>
            <li>Видеофиксация дефектов покрытия;</li>
            <li>Измерение интенсивности транспортного потока;</li>
            <li>Сбор GPS-информации по автомобильным дорогам;</li>
            <li>Георадарное зондирование дорожных одежд;</li>
            <li>Паспортизация автомобильных дорог с помощью электронного полевого журнала;</li>
            <li>Инвентаризация сооружений и технических объектов на автомобильной дороге.</li>
        </ul>

    </div><!-- //CONTAINER -->
</section><!-- //SERVICES -->
