@{
    ViewBag.Title = "Рабочие программы";
}

<!-- SERVICES -->
<section class="services_block">

    <!-- CONTAINER -->
    <div class="container">

        <div class="center">
            <h2 class="margbot10">Программный комплекс Титул-2005</h2>
        </div>
        <p>
            Программный комплекс по управлению состоянием автомобильных дорог и искусственных сооружений «Титул-2005» предназначен для ведения автоматизированного банка дорожных данных по автодорогам федерального, регионального или муниципального значения и решения на его основе инженерно-технических и управленческих задач.
            <br />
            Основными пользователями комплекса являются:
            <ul class="list1">
                <li>
                    Территориальные органы управления дорог;
                </li>
                <li>
                    Федеральные органы управления дорог;
                </li>
                <li>
                    Проектные организации;
                </li>
                <li>
                    Организации, выполняющие работы по диагностике и паспортизации дорог и мостов.
                </li>
                <li>
                    Программный комплекс эксплуатируется во многих регионах России, а также в странах ближнего зарубежья (Казахстан, Белоруссия и т.д).
                </li>
            </ul>
            <a class="btn-link" asp-controller="Info" asp-action="ProgTitul">Подробнее...</a>
        </p>
        <br />

        <div class="center">
            <h2 class="margbot10">Программно-измерительный комплекс Дорога-ПРО</h2>
        </div>
        <p>
            Программно-измерительный комплекс «Дорога-ПРО» предназначен для сбора информации о транспортно-эксплуатационном состоянии автомобильных дорог
            при проведении работ по диагностике, паспортизации и инвентаризации, для контроля качества выполненных ремонтных работ и уровня содержания автомобильных дорог.
            <br/>
            Все измерительные системы интегрированы в один комплекс, позволяющий проводить измерение нескольких параметров за один проезд по участку.
            <a class="btn-link" asp-controller="Info" asp-action="ProgRoadPro">Подробнее...</a>
        </p>
    </div><!-- //CONTAINER -->
</section><!-- //SERVICES -->
