    <!-- SERVICES -->
    <section class="services_block">

        <!-- CONTAINER -->
        <div class="container">

            <div class="center">
                <h2 class="margbot10">Наши услуги</h2>
             </div>
               <p>Одним из основных направлений деятельности компании «Нокс» является разработка проектов строительства и реконструкции автомобильных дорог, улиц, различных площадок, подъездных путей и стоянок. Для этого нами применяются передовые технологии с использование современных компьютерных систем и программного обеспечения. Благодаря высокой квалификации наших специалистов и опыту их деятельности мы способны обеспечить выполнение любых видов работ в области проектирования дорожного строительства в согласованные с заказчиками сроки.

                    Проектирование автомобильных дорог и улиц от нашей компании предусматривает особое внимание повышению их безопасности, защите как автомобилистов, так пешеходов и велосипедистов, для которых предусматриваются специальные дорожки и внедряется отдельная инфраструктура. Предложенные нами современные решения, в том числе с использованием передового зарубежного опыта, позволяют сделать улицы и дороги более комфортными и безопасными.

                    В разработанных нами проектах под особым вниманием находится охрана окружающей среды: они способствуют понижению загрязненности воздуха, уровня шума и защите природы от вредного воздействия автотранспорта.</p>
            
            <div class="center">
                <h2 class="margbot10">Мы выполняем</h2>
               </div>
             <p>- проектирование автомобильных дорог: по согласованию с заказчиком определяется выбор наиболее выгодного направления и назначение категории дороги, просчитывается интенсивность движения, ее грузооборот, потребность в капитальных затратах и рабочей силе, установление очередности и сроков строительства, окупаемость капитальных вложений;

                  </p><p>  - проектирование дорог всех категорий, а также подъездных путей, внутриквартальных проездов, парковок, тротуаров, разработку проектно-сметной документации на строительство автомобильных дорог любой категории.

            </p><p> Кроме того наша компания проведет аудит безопасности дорожного движения, разработает смету в текущих ценах на все виды работ, определит количество дорожно-строительных материалов, их вид и потребность в трудовых ресурсах. Исходя из будущих объемов работ в согласовании с утвержденными нормами времени, мы точно рассчитаем срок ввода объекта в эксплуатацию. Предложенные нами проектные решения обеспечат безопасные и комфортные условия для всех участников дорожного движения.

                    Проектная документации, разработанная специалистами нашей компании, проходит необходимое согласование в инстанциях, в том числе у собственников земельных участков и в ГИБДД.</p>
        </div><!-- //CONTAINER -->
    </section><!-- //SERVICES -->