    <!-- RECENT PROJECTS -->
    <section class="projects_block">

        <!-- CONTAINER -->
        <div class="container">
            <h2 class="center">Выполненные проекты</h2>

            <!-- LATEST PROJECTS -->
            <div class="row latest_projects" data-appear-top-offset="-100" data-animated="fadeInUp">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="~/images/projects/1.jpg" alt="" />
                            <a class="zoom fe icon_search" href="~/images/projects/1.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Некий выполненный проект</a>
                            <span>Краткое описание выполненного проекта</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="~/images/projects/2.jpg" alt="" />
                            <a class="zoom fe icon_search" href="~/images/projects/2.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Некий выполненный проект</a>
                            <span>Краткое описание выполненного проекта</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="~/images/projects/3.jpg" alt="" />
                            <a class="zoom fe icon_search" href="~/images/projects/3.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Ещё выполненный проект</a>
                            <span>Краткое описание выполненного проекта</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="~/images/projects/4.jpg" alt="" />
                            <a class="zoom fe icon_search" href="~/images/projects/4.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Ещё выполненный проект</a>
                            <span>Краткое описание выполненного проекта</span>
                        </div>
                    </div>
                </div>
            </div><!-- //LATEST PROJECTS -->
        </div><!-- //CONTAINER -->
    </section><!-- //RECENT PROJECTS -->