@{
    ViewBag.Title = "Пример проекта";
}

<!-- PORTFOLIO BLOCK -->
<section id="projects">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <div class="portfolio_block columns1" data-animated="fadeIn">
                <div class="text-danger">
                    <p><span class="label label-warning">Внимание</span> Я ничерта не понимаю в вашей работе, поэтому эту страницу не смогу заполнить как надо...</p>
                </div>
                <div class="element project">
                    <div class="col-lg-6 col-sm-6 padbot20">
                        <div class="hover_img">
                            <img src="~/images/samples/lin_gr.jpg" alt=""/>
                            <a class="zoom" href="~/images/samples/lin_gr.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 padbot20">
                        <h4>Линейный график</h4>
                        <p>Пример линейного графика участка автомобильной дороги</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="element project">
                    <div class="col-lg-6 col-sm-6 padbot20">
                        <div class="hover_img">
                            <img src="~/images/samples/serov.jpg" alt=""/>
                            <a class="zoom" href="~/images/samples/serov.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 padbot20">
                        <h4>Участок автодороги г. Серов</h4>
                        <p>Пример линейного графика участка автомобильной дороги г. Серов</p>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>

            <div class="portfolio_block columns1" data-animated="fadeIn">
                <div class="center">
                    <h4 class="margbot10">Скачать полные примеры некоторых проектов</h4>
                </div>
                <a class="btn-link" href="Samples/pgtMalysheva_Passport.zip">Паспорта автомобильных дорог пгт Малышева</a>
                <br/>
                <a class="btn-link" href="Samples/Podd_Serov.zip">ПОДД г. Серов</a>
            </div>

           
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //PORTFOLIO BLOCK -->