@model dynamic

@{
    ViewBag.Title = "Сколько это стоит?";
}

<div class="container">
    <div class="center">
        <h2 class="margbot10">Сколько это стоит?</h2>
    </div>
    <p>
        Стоимость запуска данного проекта - <span class="label label-success">@ViewBag.Cost ₽</span>
        <br />
        В эту стоимость входит:
    </p>
    <ul class="list1">
        <li>Разработка структуры страниц сайта по согласованию с Заказчиком</li>
        <li>Первичное наполнение сайта материалами, предоставленными Заказчиком</li>
        <li>Предоставление инструментов для редактирования материалов, опубликованных на сайте</li>
        <li>Разработка до 2 интерактивных сервисов на сайте (например: Новости компании, Отзывы клиентов и т.д.) с возможностью редактирования и модерации</li>
        <li>Помощь в выборе и регистрации доменного имени (адреса) сайта в сети, помощь в выборе хостинга и публикация сайта в сети Интернет</li>
    </ul>
    <p/>
    <p>
        <span class="label label-warning">Важно!</span>
        Сайт не статичен и разработан с учётом расширения его функциональности и возможностей.
        <br/>
        Возможны дополнительные услуги, оплата по договорённости.
        <br/>
    </p>
    <br />
</div>
