    <!-- SLIDER -->
    <div class="slider_block">
        <div class="flexslider top_slider">
            <ul class="slides">
                <li class="slide1">
                    <div class="container">
                        <div class="flex_caption1 FromTop">
                            <p>Your awesome title</p>
                        </div>

                        <div class="caption_img1 FromBottom"><img src="images/slider/caption_img1.png" alt="" /></div>
                    </div>
                </li>
                <li class="slide2">
                    <div class="container">
                        <div class="caption_middle">
                            <div class="flex_caption1 FromTop">
                                <p>Your awesome title</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- //SLIDER -->

    <partial name="Partial/_OurServices"/>
    
    <partial name="Partial/_OurWorks"/>