    <!-- SLIDER -->
    <div class="slider_block">
        <div class="flexslider top_slider">
            <ul class="slides">
                <li class="slide1">
                    <div class="container">
                        <div class="flex_caption1 FromTop">
                            <p>Your awesome title</p>
                        </div>

                        <div class="caption_img1 FromBottom"><img src="images/slider/caption_img1.png" alt="" /></div>
                    </div>
                </li>
                <li class="slide2">
                    <div class="container">
                        <div class="caption_middle">
                            <div class="flex_caption1 FromTop">
                                <p>Your awesome title</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- //SLIDER -->
    <!-- SERVICES -->
    <section class="services_block">

        <!-- CONTAINER -->
        <div class="container">

            <div class="center">
                <h2 class="margbot10">Services</h2>
                <p>In dolor eros, mollis non convallis a, sollicitudin non magna. Pellentesque id nibh felis. Etiam bibendum luctus lorem lobortis malesuada. Sed dui nulla, tincidunt sed accumsan ut, tempor id arcu. Morbi vitae magna felis. Vivamus dictum et augue non ultricies. Pellentesque a nisl id neque dictum elementum bibendum</p>
            </div>

            <!-- ROW -->
            <div class="row services_wrapper" data-appear-top-offset="-100" data-animated="fadeInUp">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-ss-12 service_item center padbot30">
                    <a href="javascript:void(0);" data-description="In sit amet lectus tristique, molestie libero at, tincidunt sem. In sed">
                        <i class="fe icon_mobile"></i>
                        <p>Responsive Layout</p>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-ss-12 service_item center padbot30">
                    <a href="javascript:void(0);" data-description="In sit amet lectus tristique, molestie libero at, tincidunt sem. In sed">
                        <i class="fe icon_comment"></i>
                        <p>Dedicated Support</p>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-ss-12 service_item center padbot30">
                    <a href="javascript:void(0);" data-description="In sit amet lectus tristique, molestie libero at, tincidunt sem. In sed">
                        <i class="fe icon_star"></i>
                        <p>Unique Design</p>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-ss-12 service_item center padbot30">
                    <a href="javascript:void(0);" data-description="In sit amet lectus tristique, molestie libero at, tincidunt sem. In sed">
                        <i class="fe icon_ribbon_alt"></i>
                        <p>Brand & Identity</p>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-ss-12 service_item center padbot30">
                    <a href="javascript:void(0);" data-description="In sit amet lectus tristique, molestie libero at, tincidunt sem. In sed">
                        <i class="fe icon_genius"></i>
                        <p>Innovations</p>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 col-ss-12 service_item center padbot30">
                    <a href="javascript:void(0);" data-description="In sit amet lectus tristique, molestie libero at, tincidunt sem. In sed">
                        <i class="fe icon_lightbulb_alt"></i>
                        <p>great ideas</p>
                    </a>
                </div>
            </div><!-- //ROW -->
        </div><!-- //CONTAINER -->
    </section><!-- //SERVICES -->
    <!-- INFORM BLOCK -->
    <section class="inform_block">

        <!-- CONTAINER -->
        <div class="container" data-appear-top-offset="-100" data-animated="fadeInUp">
            <h2>Stay informed about latest works. Don't worry, I hate spam too.</h2>

            <!-- NEWSLETTER-FORM -->
            <form id="newsletter-form" action="">
                <input type="text" name="Email address" value="Email address" onFocus="if (this.value == 'Email address') this.value = '';" onBlur="if (this.value == '') this.value = 'Email address';" />
                <input type="submit" value="Subscribe now" />
            </form><!-- //NEWSLETTER-FORM -->
        </div><!-- //CONTAINER -->
    </section><!-- INFORM BLOCK -->
    <!-- VIDEO BLOCK -->
    <section class="video_block">

        <!-- CONTAINER -->
        <div class="container">

            <!-- ROW -->
            <div class="row">
                <div class="col-lg-5 col-md-5 padbot30">
                    <h2>Our Skills</h2>

                    <!-- OUR SKILLS -->
                    <div class="our-skills">
                        <div class="skill_item">
                            <span>Wordpress development</span>
                            <div class="skill-bar" href="javascript:void(0);" data-percent="80%">
                                <div class="progress-complete" data-width="80%"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <span>Web design</span>
                            <div class="skill-bar" href="javascript:void(0);" data-percent="40%">
                                <div class="progress-complete" data-width="40%"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <span>Game development</span>
                            <div class="skill-bar" href="javascript:void(0);" data-percent="100%">
                                <div class="progress-complete" data-width="100%"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <span>Graphic design</span>
                            <div class="skill-bar" href="javascript:void(0);" data-percent="75%">
                                <div class="progress-complete" data-width="75%"></div>
                            </div>
                        </div>
                    </div><!-- //OUR SKILLS -->
                </div>

                <div class="col-lg-7 col-md-7 padbot30">
                    <div class="video_wrapper">
                        <div class="video_container" data-video="http://www.youtube.com/embed/VpZmIiIXuZ0?version=3&amp;hl=en_US&amp;autoplay=1">
                            <i class="fe icon_film"></i>
                            <img src="images/video_img.jpg" alt="" />
                            <script>
                                $('.video_container').click(function(){
                                    var video = '<iframe src="'+ $(this).attr('data-video') +'"></iframe>';
                                    $(this).replaceWith(video); });
                            </script>
                        </div>
                    </div>
                </div>
            </div><!-- //ROW -->
        </div><!-- //CONTAINER -->
    </section><!-- //VIDEO BLOCK -->
    <!-- RECENT PROJECTS -->
    <section class="projects_block">

        <!-- CONTAINER -->
        <div class="container">
            <h2 class="center">our Works</h2>

            <!-- LATEST PROJECTS -->
            <div class="row latest_projects" data-appear-top-offset="-100" data-animated="fadeInUp">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="images/projects/1.jpg" alt="" />
                            <a class="zoom fe icon_search" href="images/projects/1.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Lorem ipsum dolor</a>
                            <span>Fusce sapien magna, porta eget</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="images/projects/2.jpg" alt="" />
                            <a class="zoom fe icon_search" href="images/projects/2.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Lorem ipsum dolor</a>
                            <span>Fusce sapien magna, porta eget</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="images/projects/3.jpg" alt="" />
                            <a class="zoom fe icon_search" href="images/projects/3.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Lorem ipsum dolor</a>
                            <span>Fusce sapien magna, porta eget</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="images/projects/4.jpg" alt="" />
                            <a class="zoom fe icon_search" href="images/projects/4.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="project_descr">
                            <a href="javascript:void(0);">Lorem ipsum dolor</a>
                            <span>Fusce sapien magna, porta eget</span>
                        </div>
                    </div>
                </div>
            </div><!-- //LATEST PROJECTS -->
        </div><!-- //CONTAINER -->
    </section><!-- //RECENT PROJECTS -->