<!-- 404 ERROR -->
<section class="block_404 center">
						
    <!-- CONTAINER -->
    <div class="container">
						
        <div class="wrapper404" data-animated="fadeIn">
            <h1 class="margbot0">Страница не найдена :(</h1>
            <h4>Мы не смогли отобразить эту страницу</h4>
        </div>
    </div><!-- //CONTAINER -->
</section><!-- //404 ERROR -->