@{
    ViewBag.Title = "Сайт в разработке";
    Layout = "_LayoutSimple";
}

<section class="center">

    <!-- CONTAINER -->
    <div class="container">

        <div class="wrapper404">
            <h1 class="margbot0">Сайт в разработке</h1>
            <br/>
            <h6>Игорь, уходи отсюда, пока ещё рано :)</h6>
        </div>
    </div><!-- //CONTAINER -->
</section>
