    <!-- FOOTER -->
<footer class="full_width footer_block">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row" data-animated="fadeInUp">

            <!-- Телефон -->
            <div class="col-lg-3 col-md-3 col-sm-6 padbot20">
                <h2>Проектирование дорог</h2>
                <ul class="foot_links">+7 (343) 123-45-67</ul>
            </div><!-- //RECENT TWEETS -->
            <!-- USEFUL LINKS -->
            <div class="col-lg-3 col-md-3 col-sm-6 padbot20">
                <h2>Адрес</h2>
                <ul class="foot_links">
                    г. Екатеринбург
                </ul>
            </div><!-- //USEFUL LINKS -->

            <!-- Share -->
            <div class="col-lg-3 col-md-3 col-sm-6 padbot20">
                <h2>Связаться с нами</h2>
                <p>Оставьте отзыв или предложение о сотрудничестве с нами</p>

                <!-- NEWSLETTER-FORM -->
                <form id="newsletter-form" action="">
                    <input type="text" name="Enter your Email..." value="Ваш адрес электронной почты..." onFocus="if (this.value == 'Enter your Email...') this.value = '';" onBlur="if (this.value == '') this.value = 'Enter your Email...';" />
                    <input class="contact_btn" type="submit" value="" />
                </form><!-- //NEWSLETTER-FORM -->
                <!-- FOOTER SOCIAL -->
                <div class="social">
                    <a href="javascript:void(0);"><i class="fe social_googleplus"></i></a>
                    <a href="javascript:void(0);"><i class="fe social_linkedin"></i></a>
                    <a href="javascript:void(0);"><i class="fe social_facebook"></i></a>
                    <a href="javascript:void(0);"><i class="fe social_twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fe social_vimeo"></i></a>
                    <a href="javascript:void(0);"><i class="fe social_flickr"></i></a>
                </div><!-- //FOOTER SOCIALS -->
            </div><!-- //NEWSLETTER -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
    <!-- COPYRIGHT -->
    <div class="copyright clearfix">

        <!-- CONTAINER -->
        <div class="container">
            <div class="padbot20">
                <a class="copyright_logo" href="javascript:void(0);">Проектирование дорог</a> <span> &copy; Copyright 2022</span>
            </div>
        </div><!-- //CONTAINER -->
    </div><!-- //COPYRIGHT -->
</footer><!-- //FOOTER -->
