    <!-- FOOTER -->
<footer class="full_width footer_block">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row" data-animated="fadeInUp">

            <!-- Телефон -->
            <div class="col-lg-4 col-md-4 col-sm-7 padbot20">
                <h2>@ViewBag.CompanyName</h2>
                <ul class="foot_links">+7 (912) 600-10-88</ul>
                <ul class="foot_links">afursov66@gmail.com</ul>
            </div><!-- //RECENT TWEETS -->
            <!-- USEFUL LINKS -->
            <div class="col-lg-4 col-md-4 col-sm-7 padbot20">
                <h2>Адрес</h2>
                <ul class="foot_links">
                    620014, г.Екатеринбург, ул.Малышева, д.12-б, 3 этаж
                </ul>
            </div><!-- //USEFUL LINKS -->

            <!-- Share -->
            <div class="col-lg-4 col-md-4 col-sm-7 padbot20">
                <h2>Связаться с нами</h2>
                <p>Оставьте отзыв или предложение о сотрудничестве с нами</p>

                <!-- NEWSLETTER-FORM -->
                <form id="newsletter-form" action="">
                    <input type="text" name="Enter your Email..." placeholder="Ваш E-Mail..." />
                    <input class="contact_btn" type="submit" value="" />
                </form><!-- //NEWSLETTER-FORM -->
            </div><!-- //NEWSLETTER -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->

</footer><!-- //FOOTER -->
