<!-- HEADER -->
<header>

    <!-- MENU -->
    <div class="menu_block clearfix">

        <!-- CONTAINER -->
        <div class="container clearfix">

            <!-- LOGO -->
            <div class="logo">
                <a asp-action="Index" asp-controller="Home">Проектирование дорог</a>
            </div><!-- LOGO -->
            <!-- RESPONSIVE BUTTON MENU -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <em></em><em></em><em></em><em></em>
                </button>
            </div><!-- //RESPONSIVE BUTTON MENU -->

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="first active"><a asp-action="Index" asp-controller="Home">Главная</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Проекты</a></li>
                    <li><a href="#">Документация</a></li>
                    <li class="last"><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div><!-- //CONTAINER -->
    </div><!-- //MENU -->
</header><!-- //HEADER -->
