    <!-- SERVICES -->
<section class="services_block">

    <!-- CONTAINER -->
    <div class="container">

        <div class="center">
            <h2 class="margbot10">Проект организации дорожного движения (ПОДД)</h2>
        </div>
        <p>
            Наши специалисты качественно и точно в срок разработают для вас раздел проектной документации «Проект организации дорожного движения» (ПОДД)
            в соответствии с нормативно-правовой и технической базой.
            <br />
            <a class="btn-link" asp-controller="Info" asp-action="Podd">Подробнее...</a>
        </p>
        <br />

        <div class="center">
            <h2 class="margbot10">Комплекс измерительный передвижной аэродромно-дорожной лаборатории КП-514 RDT</h2>
        </div>
        <p>
            Передвижная дорожная лаборатория на основе комплекса измерительного КП-514 RDT
            представляет собой совокупность высокотехнологичных измерительных систем, установленных на шасси спецавтомобиля и предназначен для получения полной, объективной и достоверной информации о транспортно-эксплуатационном состоянии автомобильных дорог.
            <br/>
            Комплекс обеспечивает проведение оперативных испытаний и диагностики объектов непосредственно по месту их нахождения, с максимальной производительностью, обеспечением выгрузки и хранения данных в геоинформационной системе автомобильных дорог «IndorRoad».
            <br/>
            Благодаря применению современных бесконтактных измерительных устройств на основе микропроцессорных, лазерных, ультразвуковых, космических, беспилотных технологий и специализированного программного обеспечения обеспечены высокая производительность и достоверность измерений.
            <br/>
            <a class="btn-link" asp-controller="Info" asp-action="Laboratory">Подробнее...</a>
        </p>
    </div><!-- //CONTAINER -->
</section><!-- //SERVICES -->